<main class="contenedor panel-administracion">
  <h1><%= pagina %></h1>

  <div class="contenedor-botones">
    <a href="/nuevaPelicula" class="btn btn-rosa">Añadir pelicula</a>
    <% if (usuario.superAdmin === 1) { %>
    <a href="/nuevoAdmin" class="btn btn-azul2">Hacer administrador</a>
    <a href="/noAdmin" class="btn btn-naranja">Quitar administrador</a>
    <button
      type="button"
      id="revisar"
      class="btn btn-primary position-relative"
    >
      Revisar Peliculas <% if (revisar != 0) { %>
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger"
      >
        <%= revisar %>
        <span class="visually-hidden">unread messages</span>
      </span>
      <% } %>
    </button>

    <% } %>
  </div>

  <div class="seccion-admin">
    <h2>Peliculas</h2>
    <ul>
      <% peliculas.forEach(peli => { %>

      <li>
        <div class="informacion-admin">
          <a href="/pelicula/<%= peli.slug %>" target="_blank">
            <h3><%= peli.titulo %></h3>
          </a>
        </div>
        <div class="acciones contenedor-botones">
          <a href="/editarPelicula/<%= peli.id %>" class="btn btn-verde"
            >Editar</a
          >
          <a href="/eliminarPelicula/<%= peli.id %>" class="btn btn-rojo"
            >Eliminar</a
          >
        </div>
      </li>
      <% }) %>
    </ul>
  </div>
  <%- include('partials/paginacion.ejs') %>
  <div class="seccion-admin">
    <h1>Peliculas pendientes de revisión</h1>
    <div id="contenedor">
      
    <ul id="lista"></ul>

  </div>
</main>
