<main class="contenido-peli">
  <div class="contenedor">
    <div class="informacion-peli">
      <div class="descripcion">
        <img src="/uploads/carteles/<%= pelicula.imagen %>" class="rounded-5 w-50"/>
        <p style="font-weight: bold">Sinopsis:</p>
        <p style="text-align: justify"><%= pelicula.sinopsis %></p>
      </div>
      <!--descripcion-->
      <div class="acciones w-50">  
        <form method="post" class="d-flex" >
          <input type="submit" class="btn btn-success" value="Publicar" />
          <a class="btn btn-danger ms-3" href="/corregir/<%= pelicula.id %>">Corregir</a>
        </form>

      </div>
      
    </div>
    <!--Info -->
    <aside class="informacion">
      <% moment.locale("es");%>
      <div class="fecha">
        <p style="font-weight: bold">Estreno:</p>
        <p><%= moment(pelicula.estreno).format("LL") %></p>
        <p style="font-weight: bold">Duracion:</p>
        <p><%= pelicula.duracion %> min.</p>
        <% if (pelicula.trailer) { %> 
          <p style="font-weight: bold"><a href="<%= pelicula.trailer %>" target="_blank">Ver trailer</a></p>
      <% } else { %>
          <p style="font-weight: bold">Trailer no disponible</p> 
      <% } %>
      </div>
    </aside>
  </div>
</main>
